h1{
    font-size: 3rem;
    padding: 1rem;
}
h2{
    font-size: 2rem;
    padding: 1rem;
}
h3{
    font-size: 1rem;
    padding: 1rem;
}
p{
    font-size: 1.3rem;
    b{
        @include neon-paragraph;
    }
}
.letra-neon{
    font-family: $font-secondary;
    @include neon-title;    
}