.flex-container{
    @include flex(center, center);
}
.card{
    background: map-get($bg-gradient, card);
    border-radius: 1rem;
    overflow: hidden;
    width: 18rem;
    border: none;
    margin: 1rem;
    transition: all 0.25s ease-in;
    &:hover{
        @include shadow(rgb(0,0,0));
    }
}